* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --c-light-gray: #e2e2e2;
  --c-gray: #6c757d;
}

html {
  font-family: "Segoe UI", sans-serif;
}

body {
  padding: 0 200px 0 200px;
  height: 100vh;
  max-height: 100vh;
}

h1 {
  font-size: 69px;
  font-weight: 600;
}

p {
  font-size: 17px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 1em;
  height: 150px;
}

.header-logo {
  width: 130px;
  height: 80px;
}

.header h1 a {
  text-decoration: none;
  color: black;
  letter-spacing: 10px;
  line-height: 55px;
  text-align: center;
}

.header p {
  text-align: center;
  font-weight: 600;
}

.center-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.links {
  display: flex;
  justify-content: space-between;
}

.links a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: 600;
  padding: 15px;
}

.links a:last-child {
  padding-right: 0;
}

.links a:hover {
  text-decoration: underline;
}

.hero {
  margin-top: 150px;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.form input {
  border: 1px solid #6c757d;
  outline: none;
  height: 73px;
  width: 800px;
  font-size: 25px;
  border-top-left-radius: 39px;
  border-bottom-left-radius: 39px;
  padding-left: 20px;
  position: relative;
}

::placeholder {
  opacity: 60%;
}

.submit-button {
  background-color: var(--c-gray);
  color: white;
  border: none;
  outline: none;
  height: 73px;
  width: 200px;
  font-size: 20px;
  font-weight: 600;
  border-top-right-radius: 39px;
  border-bottom-right-radius: 39px;
  position: absolute;
  left: 1195px;
  cursor: pointer;
  padding-right: 40px;
}

.link-logo {
  position: absolute;
  right: 35px;
}

.cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: rgba(226, 226, 226, 0.22);
  width: 374px;
  height: 270px;
  border-radius: 25px;
  margin: 1em;
  margin-top: 100px;
  padding: 2em 3.3em 2em 3.3em;
}

.card h3 {
  font-size: 25px;
  letter-spacing: 2px;
  text-align: center;
  font-weight: 600;
  padding: 1em;
  padding-top: 0;
}

.card p {
  font-size: 24px;
  letter-spacing: 3px;
  line-height: 35px;
  opacity: 65%;
}

.footer {
  text-align: center;
  vertical-align: text-bottom;
  font-size: 20px;
  font-weight: 600;
  margin-top: 110px;
}

.bottom {
  opacity: 30%;
}

.bottom a {
  text-decoration: none;
  color: black;
}

.bottom a:hover {
  text-decoration: underline;
}

/* Stats table styles */
.content-table {
  border-collapse: collapse;
  margin: 25px, 0;
  margin-left: 25%;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
  background-color: #5fa8d3;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  text-align: center;
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
  color: #5fa8d3;
  font-weight: bold;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #5fa8d3;
}

.container {
  width: 100%;
  height: 100%;
}

.container h2 {
  font-size: 40px;
}

.container p {
  font-size: 20px;
}

.original-url {
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.shortened-url {
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.original-url a {
  text-decoration: none;
  color: #154e96;
}

.original-url a:hover {
  color: #2e86c1;
  text-decoration: underline;
}

.original-url a:hover {
  color: #370f82;
}

.shortened-url a {
  text-decoration: none;
  color: #154e96;
}

.shortened-url a:hover {
  color: #2e86c1;
  text-decoration: underline;
}

.shortened-url a:visited {
  color: #370f82;
}
