* {
    font-family: Quicksand, sans-serif;
}

.content-table {
    border-collapse: collapse;
    margin: 25px, 0;
    margin-left: 25%;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
    background-color: #5fa8d3;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
}

.content-table tbody tr {
    text-align: center;
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
    color: #5fa8d3;
    font-weight: bold;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #5fa8d3;
}

.index-body {
    height: 60vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.form {
    width: 50%;
    position: relative;
    height: 50px;
    overflow: hidden;
}

.form input {
    width: 100%;
    height: 100%;
    color: #595f6e;
    padding-top: 25px;
    border: none;
    outline: none;
}

.form label{
    position: absolute;
    bottom: 0px;
    left: 0%;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid black;
}

.form label::after{
    content: "";
    position: absolute;
    left: 0px;
    bottom: -1px;
    height: 100%;
    width: 100%;
    border-bottom: 3px solid #5fa8d3;
    transform: translateX(100%);
    transition: transform 0.3s ease;
}

.content-name {
    position: absolute;
    bottom: 5px;
    left: 0px;
    transition: all 0.3s ease;
}

.form input:focus + .label-name .content-name,
.form input:valid + .label-name .content-name{
    transform: translateY(-150%);
    font-size: 14px;
    color: #5fa8d3;
}

.form input:focus + .label-name::after,
.form input:valid + .label-name::after{
    transform: translateX(0%);
}

.submit-button {
    background-color: #5fa8d3;
    color: white;
    border: none;
    outline: none;
    width: 200%;
    height: 150%;
    text-align: center;
    align-items: center;
    margin-left: -43%;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    font-size: 20px;
    padding: 10px 20px;
    cursor: pointer;
}

.submit-button:hover{
    background-color: #87CEFA;
}

.container {
    width: 100%;
    height: 100%;
}

.container h2{
    font-size: 40px;
}

.container p{
    font-size: 20px;
}

.original-url {
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.shortened-url {
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.original-url a{
    text-decoration: none;
    color: #154E96;
}

.original-url a:hover{
    color: #2E86C1;
    text-decoration: underline;
}

.original-url a:hover{
    color: #370F82;
}

.shortened-url a{
    text-decoration: none;
    color: #154E96;
}

.shortened-url a:hover{
    color: #2E86C1;
    text-decoration: underline;
}

.shortened-url a:visited{
    color: #370F82;
}