<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='responsive.css') }}"
    />
    <link rel="icon" href="static/assets/logo.png" />
    <title>URL Shortener</title>
  </head>
  <body>
    <!-- Header -->
    <header class="header">
      <div>
        <img
          class="header-logo"
          src="static/assets/logo.svg"
          alt="Tinify Logo"
        />
      </div>
      <div class="center-header">
        <h1><a href="/">Tinify</a></h1>
        <p>Shorten your URLs with just one click!</p>
      </div>
      <div class="menu">
        <img src="static/assets/menu.svg" alt="Menu" class="menu-inner" />
      </div>
      <div class="links">
        <a href="#">About</a>
        <a href="#">History</a>
      </div>
    </header>

    <!-- Hero section -->
    <main class="hero">
      <!-- Shortened link -->
      <div class="result">
        <div class="display-link">
          <p id="to-cp">
            {{ url_for('short.redirect_to_url', short_url=new_link,
            _external=True) }}
          </p>
        </div>
        <div class="copy-button-container">
          <button class="copy-button" onclick="copyText()">
            Copy
            <img class="copy-logo" src="static/assets/link-icon.svg" />
          </button>
        </div>
      </div>
      <p class="description">
        Directly copy the URL above or scan the QR code below!
      </p>
      <!-- QR code -->
      <div class="img-container">
        <img style="text-align: center" src="{{ qr_code }}" alt="QR-Code" />
      </div>
    </main>

    <!-- Footer -->
    <footer class="footer" id="footer-rp">
      <p>&copy; Tinify - Copyright 2021</p>
      <p class="bottom">
        This project is open source and hosted on
        <a href="https://github.com/Frakko/Tinify">GitHub</a>.
      </p>
    </footer>

    <script src="{{ url_for('static', filename='main.js') }}"></script>
  </body>
</html>
